# Doubao-Seed-1.8配置
volcengine_API_KEY="xxx"

# 阿里云 embedding模型配置
aliyun_API_KEY="xxx"

# LangSmith配置
LANGCHAIN_TRACING_V2=false
LANGCHAIN_API_KEY="xxx"

# 选填，建议填上，方便在界面里分类
LANGCHAIN_PROJECT="Agent"

# Tavily 搜索
TAVILY_API_KEY = "xxx"

# DeepSeek配置
DEEPSEEK_API_KEY=xxx

# web 登录会话的签名秘钥
NLP_AGENT_WEB_SECRET="xxx"
